<% if @events.any? %>
  <%= render partial: "event", collection: @events %>
<% else %>
  <p>No events found</p>
<% end %>

<% if @events.upcoming.any? %>
  <h2>Upcoming events</h2>
  <%= render partial: "events/event", collection: @events.upcoming %>
<% end %>

<% if @events.past.any? %>
  <h2>Previously attended events</h2>
  <%= render partial: "events/event", collection: @events.past %>
<% end %>
